<html>
    <head>
        <title>My Python Upload/Download Server</title>
    </head>
    <body>
        <h1 style="font-size:150%;">Would you like to upload or download a file from the server?</h1><BR>

        <button onclick="location.href='/handle_upload'" style="background-color: powderblue;font-size: 120%;" type="button">Upload File</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="location.href='/handle_download'" style="background-color: powderblue;font-size: 120%;" type="button">Download File</button>
    </body>
</html

